@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Work-sans';
  src: url('../fonts/WorkSans-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Regular'), url('../fonts/Montserrat-Regular.ttf') format('woff');
}




@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overscroll-behavior: none;
  background-color: transparent !important;

  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
}

.root_bg {
  background-image: url('../assets/wall_textture\ copy.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.transparent-logo {
  background-image: url('/src/assets/transparent_logo.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}